{% extends 'index.html' %}
{% block content %}
  {% for exercise in exercises %}
    <a href="{{ url_for('session', session_id=exercise.id) }}" class="card-link">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
              {{ exercise.title }}
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ exercise.exercise_1 }}</li>
              <li class="list-group-item">{{ exercise.exercise_2 }}</li>
              <li class="list-group-item">{{ exercise.exercise_3 }}</li>
              <li class="list-group-item">{{ exercise.exercise_4 }}</li>
              <li class="list-group-item">{{ exercise.exercise_5 }}</li>
          </ul>
        </div>
    </a>
  {% endfor %}
{% endblock content %}